<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="row">
	<div class="col-sm-4">
        <form class="form" name="form" ng-submit="addentry(form)" novalidate>
			<div class="form-group" >
			  <label>Entry By </label>
			  <select id="user" class="form-control" ng-model="entry.name">
					<option value="" selected="selected"> -- Select -- </option>
					<option value="{{ user.name }}" ng-repeat="user in users"> {{ user.name }} </option>
			  </select>
			</div>
			<div class="form-group" >
			  <label>Product Name</label>
			  <input type="text" class="form-control" ng-model="entry.product"/>
			</div>
		
			<div class="form-group" >				
				<div class="form-check">
				  <input type="checkbox" id="all" ng-model="selectedAll" ng-click="checkAll()">  
					<label for="all"><span class="userimg"></span>AllUser</label>
					<br>				
					<div ng-repeat="user in users" ng-init="entry.member[user.name]=false">
						<input type="checkbox" ng-model="entry.member[user.name]" id="{{ user.email }}" > 
					   <label for="{{ user.email }}">
						<span class="userimg"></span>{{user.name}}
					   </label>
					</div>						
				 </div>
				
			</div>
			  
			<div class="form-group" >
			  <label>Product Price</label>
			  <input type="text" class="form-control" ng-model="entry.price"/>
			</div>
			<div class="form-group" >
			  <label> Purchase Date</label>
			  <input type="date" id="datepicker" class="form-control" ng-model="entry.date"/>
			</div>
			
			<div class="form-group" >
			   <button class="btn btn-inverse" type="submit">
				Add
			  </button>
			</div>
      </form>
	  
	  <div class="table-responsive ">
			<table class="table table-bordered table-striped">
				<tbody>
				  <tr  ng-repeat="pay in finalPay">
					<td>{{ pay.name }}</td>
					<td>{{ pay.amount }}</td>				
				  </tr>
				</tbody>
			</table>
		</div>
			
	</div>
		
		<div class="col-sm-8">
			<div class="table-responsive ">
			  <table class="table table-bordered table-striped">
			    <thead>
				  <tr>
					<th>S.No</th>
					<th>Name</th>
					<th>Product</th>
					<th>Price</th>
					<th>Date</th>
					<th>Member</th>
					<th>Per-head</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="entry in entries track by $index">
					<td>{{$index+1}}</td>
					<td>{{ entry.name }}</td>
					<td>{{ entry.product }}</td>
					<td>{{ entry.price }}</td>
					<td>{{ entry.date }}</td>
					<td>{{ entry.member | memberInc }} </td>
					<td>{{ entry.perhead | number:2 }} </td>
					<td><a class="btn btn-transparent btn-rounded" ng-click="removeEntry(entry._id);">Delete</a></td>
				  </tr>
				</tbody>
			  </table>
			</div>
		</div>

</div>
</div>
