<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <p>student list.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="student in students">
      <strong>{{student.country}}</strong><br>
      <span class="text-muted">{{student.city}} , {{student.code}}, {{student.email}}, {{student.phone}}</span>
      <a ng-click="delete(student)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
      <a ng-click="edit(student)" class="edit"><span class="glyphicon glyphicon-edit pull-right"></span></a>
    </li>
  </ul>

  <form class="form" name="form1" ng-submit="addStudent(form1)">

    <div class="form-group" >
      <label>Country</label>
      <input type="text" class="form-control" ng-model="student.country"
             required/>
    </div>

    <div class="form-group" >
      <label>City</label>
      <input type="text"  class="form-control" ng-model="student.city"
             required/>
    </div>
    <div class="form-group" >
      <label>Code</label>
      <input type="text"  class="form-control" ng-model="student.code"
             required/>
    </div>
	
	<div class="form-group" >
      <label>Email</label>
      <input type="text"  class="form-control" ng-model="student.email"
             required/>
    </div>
	
	<div class="form-group" >
      <label>Phone</label>
      <input type="text"  class="form-control" ng-model="student.phone"
             required/>
    </div>
	
	<div class="form-group" >
      <label>User Image</label>
      <input type="file" file-model="vsFile"  multiple/>
    </div>
	
    <div>
      <button ng-hide="student.updateId" class="btn btn-inverse btn-lg btn-login" type="submit">
        Add student
      </button>
      <button ng-show="student.updateId" class="btn btn-inverse btn-lg btn-login" type="submit">
        Edit student
      </button>
      <button ng-show="student.updateId" ng-click="addNewStd()" class="btn btn-inverse btn-lg btn-login" >
      Add new student
    </button>
    </div>


  </form>
</div>
